{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Change password - WutStory" %}{% endblock %}

{% block content %}

<div id="features-wrapper">
	<div class="container">
        <div class="row">
            <div class="col-md-8 inputForm">
                <section id="inputForm" class="box feature">
                    <div class="inner">
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Change password' %}" />
</form>
            </div></section></div></div></div></div>
{% endblock %}


{# This is used by django.contrib.auth #}
