{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Password changed - WutStory" %}{% endblock %}

{% block content %}
<div id="features-wrapper">
	<div class="container">
        <div class="row">
            <div class="col-md-8 inputForm">
                <section id="inputForm" class="box feature">
                    <div class="inner">
<p>{% trans "Password successfully changed!" %}</p>
                        </div></section></div></div></div></div>
{% endblock %}


{# This is used by django.contrib.auth #}
