{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Reset password - WutStory" %}{% endblock %}

{% block content %}
<div id="features-wrapper">
	<div class="container">
		<div class="row">
            <div class="col-md-8 inputForm">
                <section id="inputForm" class="box feature">
                    <div class="inner">
                        <p>Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.</p>
                        <form method="post" action="">
                            {% csrf_token %}
                            {{ form }}
                            <input type="submit" value="{% trans 'Reset password' %}" />
                        </form>
                    </div>
                </section>
</div></div></div></div>
{% endblock %}


{# This is used by django.contrib.auth #}
