{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Confirm password reset - WutStory" %}{% endblock %}

{% block content %}
<div id="features-wrapper">
	<div class="container">
        <div class="row">
            <div class="col-md-8 inputForm">
                <section id="inputForm" class="box feature">
                    <div class="inner">

                        <p>{% trans "Enter your new password below to reset your password:" %}</p>
                        <form method="post" action="">
                            {% csrf_token %}
                            {{ form }}
                            <input type="submit" value="{% trans 'Set password' %}" />
                        </form>

</div></section></div></div></div></div>
{% endblock %}


{# This is used by django.contrib.auth #}
