{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Registration is closed - WutStory" %}{% endblock %}

{% block content %}
<div id="features-wrapper">
	<div class="container">
        <div class="row">
            <div class="col-md-8 inputForm">
                <section id="inputForm" class="box feature">
                    <div class="inner">
<p>{% trans "Sorry, but registration is closed at this moment. Come back later." %}</p>
                        </div></section></div></div></div></div>
{% endblock %}
