{% extends 'base.html' %}

{% block title %} - FAQS{% endblock %}

{% block page %}
 <div class="container">
  <div class="row standard_fix standard">
    <div class="col">
        <p style="text-align: center;">Thank you for supporting BuyUSA.support by adding your company’s brand(s) and product(s) info.</p>
        <h2>How to Start</h2>        
        <h3>1. Create A Brand</h3>        
        <p>In order to add any products, there must be at least one brand created. 
          If your company and your brand are one and the same, please create a new brand by clicking 
          the “<a href="/create_gig">Add Brand</a>” button below or in the main navigation and then fill out the info 
          in the form with the same info listed in your company profile. 
          If your brand is separate and unique from your standard company info, 
          please create that brand, also by clicking that button. Perhaps your company 
          owns multiple brands in multiple verticals. Feel free to add these brands as well 
          by repeating this process. Also be sure to employ keywords that sufficiently describe
           your product so that people searching BuyUSA.support can easily find your particular product.</p>
           <p><b>NOTE:</b> The brand you are adding is NOT visible to the public until you select “Published” in the Publish field. 
           If you with to remove a brand that is visible to the public, change the selection to “Unpublished”.</p>        
        
       <h3>2. Create A Product</h3>
        
      <p>Once you have added a brand, you may now add a product. Click on the “<a href="/create_product">Add Product</a>” button below or in the main 
        navigation and then fill out the form. Be sure to select what brand this product is sold or manufactured under. 
        Also be sure to employ keywords that sufficiently describe your product so that people searching BuyUSA.support 
        can easily find your particular product.</p>
        <p><b>NOTE:</b> The product you are adding is NOT visible to the public until 
        you select “Published” in the Publish field. If you wish to remove a product that is visible to the public, 
        change the selection to “Unpublished”.</p>
        
        <h3>3. Repeat</h3>

        <p>Feel free to add multiple brands or products where desired appropriate.</p>

        <h3>4. Edit A Brand or Product</h3>
        <p>In order to edit an existing brand or product, click on “<a href="/my_gigs">My Brands/Products</a>” to view the list of the brands and products 
          you have created. You’ll be able to edit your preferred brand or product there.</p>

        <h2>How Can You Help America Buy American?</h2>
        <h3>Spread the Word</h3>
        <ol>
          <li>Tell your friends to use our site.</li>
          <li>Tell your business colleagues who make their products in America to open an account with BuyUSA.support.</li>
          <li>Become a <a href="https://www.buyusa.support/membership/">membership</a>. We can’t afford to keep this site running without 
            generous memberships from people like you. Please help us keep the project alive.</li>
        </ol>

      <h2>A Final Word</h2>
      <p>Thank you for your support. If we can help people become more aware of what products they are buying are 
        from America, we hope that we will increase the amount of jobs as well as the amount of 
        money that goes toward American business.</p>
    </div>
  </div>
</div>
{% endblock %}
