{% extends 'base.html' %}

{% block title %} - FAQS{% endblock %}

{% block page %}
 <div class="container">
  <div class="row standard">
    <h2>Contact Us</h2>
    <div class="question">
      <h4>Address</h4>
      <p>4262 Blue Diamond Rd., #102 Las Vegas, NV 89139</p>
    </div>
    <div class="question">
      <h4>Phone</h4>
      <p>(702) 445-7546</p>         
    </div>
<!--
    <div class="question">
        <h4>Email</h4>
        <p><a href="mailto:info@buyusa.com"></a>info@buyusa.com</p>
      </div> -->
  </div>
</div>
{% endblock %}
