{% extends 'base.html' %}
{% load staticfiles %}
{% load formfilter %}
{% load crispy_forms_tags %}

{% block title %} - Edit Gig{% endblock %}

{% block header_ext %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}
 
{% block page %}
<div class="container">
    <div class="row edit_gig">
        {% if gig_errors  %}
        <div class="gig_errors">
            <h3>Please Correct The Below Errors</h3>
            {{gig_errors}}
        </div>
        {% endif  %}
        {% crispy gig_form gig_form.helper %}        
    </div>    
</div>
{% endblock %}