{% load staticfiles %}

<footer id="footer" class="footer">
    <div class="container">
		<div class="col-md-3 footer-grid">
			<h3>About Us</h3>
			<p>Our goal is to provide the largest most accurate database of US products and food items the public can freely access and where and how these items can be purchased</p>
		</div>
		<div class="col-md-3 footer-grid ">
			<h3>Menu</h3>
			<ul>
				<li><a href="/">Home</a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-grid ">
			<h3>Customer Services</h3>
			<ul>				
				<li><a href="/terms">Terms &amp; Conditions</a></li>
				<li><a href="/faqs">Faqs</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-grid">
			<h3>My Account</h3>
			<ul>
				{% if user and not user.is_anonymous %}
				<li><a href="{% url 'profile' user.username %}">My Profile</a></li>
                <li><a href="{% url 'create_gig' %}">Create a Gig</a></li>
				<li><a href="{% url 'my_gigs' %}">My Gigs</a></li>
					{% if user.is_superuser %}
                        <li><a href="{% url 'importdata' %}">Import Data</a></li>
					{% endif %}
				<li><a href="{% url 'auth:logout' %}?next={{request.path}}">Logout</a></li>
				{% else %}
				<li><a href="/login/">Login</a></li>
				<li><a href="/signup/">Register</a></li>
				{% endif %}

			</ul>
		</div>
		<div class="clearfix"></div>
			<div class="footer-bottom">

				<div class=" address">
					<div class="col-md-4 fo-grid1">
							<p><i class="fa fa-home" aria-hidden="true"></i>4262 Blue Diamond Rd., #102 Las Vegas, NV 89139</p>
					</div>
					<div class="col-md-4 fo-grid1">
							<p><i class="fa fa-phone" aria-hidden="true"></i>(702) 445-7546</p>
					</div>
					<div class="col-md-4 fo-grid1">
						<!-- <p><a href="mailto:info@buyusa.support"><i class="fa fa-envelope-o" aria-hidden="true"></i>info@buyusa.support</a></p> -->
					</div>
					<div class="clearfix"></div>

					</div>
			</div>
		<div class="copy-right">
			<p> &copy; 2018 Buy USA. All Rights Reserved .</p>
		</div>
	</div>
</footer>