{% extends 'base.html' %}
{% load staticfiles %}
{% load formfilter %}

{% block includes %}
    {% include 'search_box.html' %}
    {% include 'main_nav.html' %}
{% endblock %}

{% block page %}

<div class="container gig_detail_div">
    <div class="single-top-main row">
        <div class="gig_gallery">
            <img id="thumb2" src="/media/{{ gig.BrandPicture2 }}" alt="" class="img-responsive thumb_image img-thumbnail" height="70px" width="70px" />
            <img id="thumb3" src="/media/{{ gig.BrandPicture3 }}" alt="" class="img-responsive thumb_image img-thumbnail" height="70px" width="70px" />
            <img id="thumb4" src="/media/{{ gig.BrandPicture4 }}" alt="" class="img-responsive thumb_image img-thumbnail" height="70px" width="70px" />
            <img id="thumb5" src="/media/{{ gig.BrandPicture5 }}" alt="" class="img-responsive thumb_image img-thumbnail" height="70px" width="70px" />
        </div>

        <div class="col-md-5 single-top">
                
            <div class="single-w3agile">
                <div id="picture-frame">
                    <img id="thumb1" src="/media/{{ gig.BrandPicture1 }}" data-src="/media/{{ gig.BrandPicture1 }}" alt="" class="img-responsive" />
                </div>
                <script src="{% static 'js/jquery.zoomtoo.js' %}"></script>
                <script type="text/javascript">
                    $(function() {
                        $("#picture-frame").zoomToo({magnify: 1});
                    });
                </script>
            </div>
        </div>
        
        <div class="col-md-7 single-top-left ">
            <div class="single-right">
                <h3>{{ gig.title }}</h3>    
                <p class="gig_info">{{ gig.BrandCaption1 }} <br />{{ gig.category }}<br />
                <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;{{ gig.BrandCustomerServicePhone }}                
                <p class="in-pa">{{ gig.description }}</p>
                <p class="where_to_buy">{{ gig.BrandWhereToBuy|commaSplit|safe }}</p>

                <div class="clearfix"> </div>
            </div>
        </div>

        <div class="clearfix"> </div>
    </div>
</div>

<script type="text/javascript">
    /* Swaps the selected thumbnail image to the main image */
    $(document).ready(function(){
       $("#thumb2, #thumb3, #thumb4, #thumb5").click(function(){
            var new_src = $(this).attr('src');
            var thumb1 = $("#thumb1");
            var thumb1zoom = $("#picture-frame img:nth-child(2)");
            $(this).attr("src", thumb1.attr("src",));
            thumb1.attr("src", new_src)
            thumb1.attr("data-src", new_src)
            thumb1zoom.attr("src", new_src)
       });
    });    
</script>

{% endblock %}