{% load staticfiles %}

<div class="header">

    <div class="container">
        
        <div class="logo">
            <h1 ><a href="/">BUYUSA.SUPPORT<span>Helping America Buy American</span></a></h1>
        </div>
        
        <div class="head-t">
            <ul class="card">
                {% if user and not user.is_anonymous %}
                <li><a href="{% url 'profile' user.username %}" ><i class="fa fa-user" aria-hidden="true"></i>My Profile</a></li>
                <li><a href="{% url 'create_gig' %}" ><i class="fa fa-plus" aria-hidden="true"></i>Create a Gig</a></li>
                <li><a href="{% url 'my_gigs' %}" ><i class="fa fa-folder" aria-hidden="true"></i>My Gigs</a></li>                
                    {% if user.is_superuser %}
                        <li><a href="{% url 'importdata' %}" ><i class="fa fa-upload" aria-hidden="true"></i>Import Data</a></li>
                        <li><a href="{% url 'exportdata' %}" ><i class="fa fa-download" aria-hidden="true"></i>Export Data</a></li>
                    {% endif %}                
                <li><a href="{% url 'auth:logout' %}?next={{request.path}}" ><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
                <li class="donate_btn"><a href="/donate/" ><i class="fa fa-credit-card" aria-hidden="true"></i>Donate</a></li>
                {% else %}
                <li><a href="/login/" ><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a></li>
                <li><a href="/accounts/register/" ><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
                <li class="donate_btn"><a href="/donate/" ><i class="fa fa-credit-card" aria-hidden="true"></i>Donate</a></li>
                {% endif %}
            </ul>
        </div>
        
    </div>
</div>

