{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}
 <div class="container">

    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'img/banner.gif' %}" class="banner">
        </div>
    </div>

     <div class="row">

         <div class="spec">
             <h3>Special Brands</h3>
             <div class="ser-t">
                 <b></b>
           <span><i></i></span>
           <b class="line"></b>
       </div>
    </div>

    <div class=" con-w3l">
        <div class="col-md-3 pro-1">
            <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal17" class="offer-img">
                    <img src="{% static 'img/of12.png' %}" class="img-responsive" alt="">
                </a>
                <div class="mid-1">
                    <div class="women">
                        <h6><a href="single.html">Moisturiser</a>(500 g)</h6>
                    </div>
                    <div class="mid-2">
                        <p ><label>$7.00</label><em class="item_price">$6.00</em></p>
                          <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                        <div class="add add-2">
                       <button class="btn btn-danger my-cart-btn my-cart-b" data-id="1" data-name="product 1" data-summary="summary 1" data-price="6.00" data-quantity="1" data-image="images/of16.png">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 pro-1">
            <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal17" class="offer-img">
                    <img src="{% static 'img/of12.png' %}" class="img-responsive" alt="">
                </a>
                <div class="mid-1">
                    <div class="women">
                        <h6><a href="single.html">Moisturiser</a>(500 g)</h6>
                    </div>
                    <div class="mid-2">
                        <p ><label>$7.00</label><em class="item_price">$6.00</em></p>
                          <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                        <div class="add add-2">
                       <button class="btn btn-danger my-cart-btn my-cart-b" data-id="1" data-name="product 1" data-summary="summary 1" data-price="6.00" data-quantity="1" data-image="images/of16.png">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 pro-1">
            <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal17" class="offer-img">
                    <img src="{% static 'img/of12.png' %}" class="img-responsive" alt="">
                </a>
                <div class="mid-1">
                    <div class="women">
                        <h6><a href="single.html">Moisturiser</a>(500 g)</h6>
                    </div>
                    <div class="mid-2">
                        <p ><label>$7.00</label><em class="item_price">$6.00</em></p>
                          <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                        <div class="add add-2">
                       <button class="btn btn-danger my-cart-btn my-cart-b" data-id="1" data-name="product 1" data-summary="summary 1" data-price="6.00" data-quantity="1" data-image="images/of16.png">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 pro-1">
            <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal17" class="offer-img">
                    <img src="{% static 'img/of12.png' %}" class="img-responsive" alt="">
                </a>
                <div class="mid-1">
                    <div class="women">
                        <h6><a href="single.html">Moisturiser</a>(500 g)</h6>
                    </div>
                    <div class="mid-2">
                        <p ><label>$7.00</label><em class="item_price">$6.00</em></p>
                          <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                        <div class="add add-2">
                       <button class="btn btn-danger my-cart-btn my-cart-b" data-id="1" data-name="product 1" data-summary="summary 1" data-price="6.00" data-quantity="1" data-image="images/of16.png">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 pro-1">
            <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal17" class="offer-img">
                    <img src="{% static 'img/of12.png' %}" class="img-responsive" alt="">
                </a>
                <div class="mid-1">
                    <div class="women">
                        <h6><a href="single.html">Moisturiser</a>(500 g)</h6>
                    </div>
                    <div class="mid-2">
                        <p ><label>$7.00</label><em class="item_price">$6.00</em></p>
                          <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                        <div class="add add-2">
                       <button class="btn btn-danger my-cart-btn my-cart-b" data-id="1" data-name="product 1" data-summary="summary 1" data-price="6.00" data-quantity="1" data-image="images/of16.png">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 pro-1">
            <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal17" class="offer-img">
                    <img src="{% static 'img/of12.png' %}" class="img-responsive" alt="">
                </a>
                <div class="mid-1">
                    <div class="women">
                        <h6><a href="single.html">Moisturiser</a>(500 g)</h6>
                    </div>
                    <div class="mid-2">
                        <p ><label>$7.00</label><em class="item_price">$6.00</em></p>
                          <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                        <div class="add add-2">
                       <button class="btn btn-danger my-cart-btn my-cart-b" data-id="1" data-name="product 1" data-summary="summary 1" data-price="6.00" data-quantity="1" data-image="images/of16.png">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <div class="clearfix"></div>


    {% for gig in gigs %}
        <div class="col-md-3">
            <div class="thumbnail">
                <!-- *** BEGIN - Replacing this code with code below it. - TCG - 1/21/18***
                <a href="{% url 'gig_detail' gig.id %}"><img src="/media/{{ gig.photo }}"></a>
                <div class="caption">
                    <p><a href="{% url 'gig_detail' gig.id %}">{{ gig.title }}</a></p>
                    <p><span>by <a href="{% url 'profile' gig.user.username %}">{{ gig.user.username }}</a></span><b class="green pull-right">${{ gig.price }}</b></p>
                </div>
                    *** END - Replacing this code with code below it. - TCG - 1/21/18*** -->
                 <!-- *** BEGIN - Replacing the above code with this. - TCG - 1/21/18*** -->
                 <a href="{% url 'gig_detail' gig.id %}"><img src="/media/{{ gig.photo }}"></a>
                <div class="caption">
                    <h2><a href="{% url 'gig_detail' gig.id %}">{{ gig.title }}</a></h2>
                    <!-- <p><img src="/media/{{ gig.BrandLogo }}" width="100%"></p> -->
                    <!-- <p>by <a href="{% url 'profile' gig.user.username %}">{{ gig.user.CompanyName }}</a></p> -->
                    {{ gig.description }}
                    <hr>
                    <p>Available at: {{ gig.BrandWhereToBuy }}</a></p>
                </div>
                 <!-- *** END - Replacing the above code with this. - TCG - 1/21/18*** -->
            </div>
        </div>
    {% endfor %}
    </div>
 </div>

{% endblock %}