{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}
 <div class="container">

    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'img/banner.gif' %}" class="banner">
        </div>
    </div>

     <div class="row">
     <div class="spec">
       <h3>Special Brands</h3>
       <div class="ser-t">
           <b></b>
           <span><i></i></span>
           <b class="line"></b>
       </div>
    </div>


    <div class="col-md-3 m-wthree">
        <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal1" class="offer-img">
                <img src="{% static 'img/of12.png' %}" class="img-responsive" alt="">
                <div class="offer"><p><span>Offer</span></p></div>
            </a>
            <div class="mid-1">
                <div class="women">
                    <h6><a href="single.html">Moong</a>(1 kg)</h6>
                </div>
                <div class="mid-2">
                    <p><label>$2.00</label><em class="item_price">$1.50</em></p>
                      <div class="block">
                        <div class="starbox small ghosting">
                            <div class="positioner">
                                <div class="stars">
                                    <div class="ghost" style="width: 42.5px; display: none;"></div>
                                    <div class="colorbar" style="width: 42.5px;"></div>
                                    <div class="star_holder">
                                        <div class="star star-0"></div>
                                        <div class="star star-1"></div>
                                        <div class="star star-2"></div>
                                        <div class="star star-3"></div>
                                        <div class="star star-4"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="add">
                   <button class="btn btn-danger my-cart-btn my-cart-b " data-id="1" data-name="Moong" data-summary="summary 1" data-price="1.50" data-quantity="1" data-image="images/of.png">Add to Cart</button>
                </div>

            </div>
        </div>
    </div>

         <div class="col-md-3 m-wthree">
        <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal1" class="offer-img">
                <img src="{% static 'img/of12.png' %}" class="img-responsive" alt="">
                <div class="offer"><p><span>Offer</span></p></div>
            </a>
            <div class="mid-1">
                <div class="women">
                    <h6><a href="single.html">Moong</a>(1 kg)</h6>
                </div>
                <div class="mid-2">
                    <p><label>$2.00</label><em class="item_price">$1.50</em></p>
                      <div class="block">
                        <div class="starbox small ghosting">
                            <div class="positioner">
                                <div class="stars">
                                    <div class="ghost" style="width: 42.5px; display: none;"></div>
                                    <div class="colorbar" style="width: 42.5px;"></div>
                                    <div class="star_holder">
                                        <div class="star star-0"></div>
                                        <div class="star star-1"></div>
                                        <div class="star star-2"></div>
                                        <div class="star star-3"></div>
                                        <div class="star star-4"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="add">
                   <button class="btn btn-danger my-cart-btn my-cart-b " data-id="1" data-name="Moong" data-summary="summary 1" data-price="1.50" data-quantity="1" data-image="images/of.png">Add to Cart</button>
                </div>

            </div>
        </div>
    </div>


         <div class="col-md-3 m-wthree">
        <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal1" class="offer-img">
                <img src="{% static 'img/of12.png' %}" class="img-responsive" alt="">
                <div class="offer"><p><span>Offer</span></p></div>
            </a>
            <div class="mid-1">
                <div class="women">
                    <h6><a href="single.html">Moong</a>(1 kg)</h6>
                </div>
                <div class="mid-2">
                    <p><label>$2.00</label><em class="item_price">$1.50</em></p>
                      <div class="block">
                        <div class="starbox small ghosting">
                            <div class="positioner">
                                <div class="stars">
                                    <div class="ghost" style="width: 42.5px; display: none;"></div>
                                    <div class="colorbar" style="width: 42.5px;"></div>
                                    <div class="star_holder">
                                        <div class="star star-0"></div>
                                        <div class="star star-1"></div>
                                        <div class="star star-2"></div>
                                        <div class="star star-3"></div>
                                        <div class="star star-4"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="add">
                   <button class="btn btn-danger my-cart-btn my-cart-b " data-id="1" data-name="Moong" data-summary="summary 1" data-price="1.50" data-quantity="1" data-image="images/of.png">Add to Cart</button>
                </div>

            </div>
        </div>
    </div>

    <div class="clearfix"></div>


    {% for gig in gigs %}
        <div class="col-md-3">
            <div class="thumbnail">
                <!-- *** BEGIN - Replacing this code with code below it. - TCG - 1/21/18***
                <a href="{% url 'gig_detail' gig.id %}"><img src="/media/{{ gig.photo }}"></a>
                <div class="caption">
                    <p><a href="{% url 'gig_detail' gig.id %}">{{ gig.title }}</a></p>
                    <p><span>by <a href="{% url 'profile' gig.user.username %}">{{ gig.user.username }}</a></span><b class="green pull-right">${{ gig.price }}</b></p>
                </div>
                    *** END - Replacing this code with code below it. - TCG - 1/21/18*** -->
                 <!-- *** BEGIN - Replacing the above code with this. - TCG - 1/21/18*** -->
                 <a href="{% url 'gig_detail' gig.id %}"><img src="/media/{{ gig.photo }}"></a>
                <div class="caption">
                    <h2><a href="{% url 'gig_detail' gig.id %}">{{ gig.title }}</a></h2>
                    <!-- <p><img src="/media/{{ gig.BrandLogo }}" width="100%"></p> -->
                    <!-- <p>by <a href="{% url 'profile' gig.user.username %}">{{ gig.user.CompanyName }}</a></p> -->
                    {{ gig.description }}
                    <hr>
                    <p>Available at: {{ gig.BrandWhereToBuy }}</a></p>
                </div>
                 <!-- *** END - Replacing the above code with this. - TCG - 1/21/18*** -->
            </div>
        </div>
    {% endfor %}
    </div>
 </div>
{% endblock %}