{% extends 'base.html' %}
{% load staticfiles %}
{% load formfilter %}

{% block title %} - {{ product.title }}{% endblock %}

{% block includes %}
    {% include 'search_box.html' %}
    <!--{% include 'main_nav.html' %}-->
{% endblock %}

{% block page %}

<div class="container gig_detail_div">        
    <div class="single-top-main row">
        <div class="gig_gallery">
            <img id="thumb2" src="/media/{{ product.image1 }}" alt="" class="img-responsive thumb_image img-thumbnail" height="70px" width="70px" />
            <img id="thumb3" src="/media/{{ product.image2 }}" alt="" class="img-responsive thumb_image img-thumbnail" height="70px" width="70px" />
            <img id="thumb4" src="/media/{{ product.image3 }}" alt="" class="img-responsive thumb_image img-thumbnail" height="70px" width="70px" />
            <img id="thumb5" src="/media/{{ product.image4 }}" alt="" class="img-responsive thumb_image img-thumbnail" height="70px" width="70px" />
        </div>
        <button class="product_button_details" disabled>PRODUCT</button>
        <div class="col-md-5 single-top">
                
            <div class="single-w3agile">
                <div id="picture-frame">
                    <img id="thumb1" src="/media/{{ product.image1 }}" data-src="/media/{{ product.brand.BrandPicture1 }}" alt="" class="img-responsive" />
                </div>
                <script src="{% static 'js/jquery.zoomtoo.js' %}"></script>
                <script type="text/javascript">
                    $(function() {
                        $("#picture-frame").zoomToo({magnify: 1});
                    });
                </script>
            </div>
        </div>
        
        <div class="col-md-7 single-top-left ">
            <div class="single-right">
                <h3>{{ product.title }}</h3>
                <div class="gig_brand_cat">
                    <img src="{% if product.brand.user.profile %} {{ product.brand.user.profile.avatar }} {% else %} {% static 'img/avatar.png' %} {% endif %}" class="img-circle center-block" height="70" width="70">
                    <a href="{% url 'profile' product.brand.user.username %}"><h4 class="text-center">{{ product.brand.user.username }}</h4></a>
                </div>
                <div class="details_brand">
                    <p>{{ product.brand.BrandCaption1 }}</p>
                    <img src="{{ MEDIA_URL }}{{ product.brand.BrandLogo }}" class="img-responsive" width="120px" height="120px">
                    <p><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://{{ product.brand.BrandLink }}" target="_blank">{{ product.brand.BrandLink }}</a></p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;{{ product.brand.BrandCustomerServicePhone }}</p>
                </div>
                <div class="gig_desc">
                    <span class="gig_desc_text">{{ product.description|safe }}</span>
                </div>
                <p class="where_to_buy">{{ product.BrandWhereToBuy|commaSplit|safe }}</p>
                <div class="clearfix"> </div>
            </div>
        </div>

        <div class="clearfix"> </div>
    </div>
</div>

<script type="text/javascript">
    /* Swaps the selected thumbnail image to the main image */
    $(document).ready(function(){
       $("#thumb2, #thumb3, #thumb4, #thumb5").click(function(){
            var new_src = $(this).attr('src');
            var thumb1 = $("#thumb1");
            var thumb1zoom = $("#picture-frame img:nth-child(2)");
            $(this).attr("src", thumb1.attr("src",));
            thumb1.attr("src", new_src)
            thumb1.attr("data-src", new_src)
            thumb1zoom.attr("src", new_src)
       });
    });    
</script>

{% endblock %}