{% extends 'base.html' %}
{% load staticfiles %}
{% load formfilter %}

{% block title %} - Profile - {{ profile.user.username }}{% endblock %}

{% block page %}
<div class="container">
    <div class="row profile">
        {% if update_msg %}
        <p class="update_msg">Your Profile Was Updated Successfully!<p>
        {% endif %}
        {% if request.user == profile.user %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="text-center">                                        
                    <div class="panel panel-default profile_inside">
                        <h2>{{ profile.CompanyName }}</h2>
                        <div class="panel-body">

                            <div class="profile_item">
                                {% if profile_form.errors %}
                                <span style="color:red">{{ profile_form.errors }}</span>
                                {% endif %}
                            </div>

                            <div class="profile_item">
                                <div class="profile_input">{{ profile_form.slogan|add_class:"form-control" }}</div>
                                <div class="profile_label">{{ profile_form.slogan.label|title }}</div>
                            </div>

                            <!--<div class="profile_item">
                                <div class="profile_input">
                                    <img src="{{ profile.avatar }}" class="img-circle" height="90" width="90" id="avatar_preview" />
                                    <input type="file" name="avatar" id="id_avatar" accept="image/*" required="" class="form-control">
                                </div>
                                <div class="profile_label">{{ profile_form.avatar.label|title }}</div>
                            </div>-->

                            <div class="profile_item">
                                <div class="profile_input">{{ profile_form.about|add_class:"form-control" }}</div>
                                <div class="profile_label">{{ profile_form.about.label|title }}</div>
                            </div>
                            
                            <div class="profile_item">
                                <div class="profile_input">{{ profile_form.CompanyName|add_class:"form-control" }}</div>
                                <div class="profile_label">Company Name</div>
                            </div>

                            
                            <div class="profile_item">
                                <div class="profile_input">{{ profile_form.CompanyCategory|add_class:"form-control" }}</div>
                                <div class="profile_label">Company Category</div>
                            </div>
                            
                            <div class="profile_item">
                                <div class="profile_input">{{ profile_form.CompanyType|add_class:"form-control" }}</div>
                                <div class="profile_label">Company Type</div>
                            </div>

                            <!--<div class="profile_item">
                                <div class="profile_input">
                                    <img src="{{ MEDIA_URL }}{{ profile.CompanyLogo }}" class="img-circle" height="90" width="90" id="CompanyLogo_preview">
                                    <input type="file" name="CompanyLogo" id="id_CompanyLogo" accept="image/*" required="" class="form-control">
                                </div>
                                <div class="profile_label">Company Logo</div>
                            </div> -->

                            <div class="profile_item">
                                <div class="profile_input">{{ profile_form.CompanyLink|add_class:"form-control" }}</div>
                                <div class="profile_label">Company Link</div>
                            </div>

                            <div class="profile_item">
                                <div class="profile_input">{{ profile_form.CompanyContactName|add_class:"form-control" }}</div>
                                <div class="profile_label">Company Contact Name</div>
                            </div>

                            <div class="profile_item">
                                <div class="profile_input">{{ profile_form.CompanyContactPhone|add_class:"form-control" }}</div>
                                <div class="profile_label">Company Contact Phone</div>
                            </div>

                            <div class="profile_item">
                                <div class="profile_input">{{ profile_form.CompanyContactEmail|add_class:"form-control" }}</div>
                                <div class="profile_label">Company Contact Email</div>
                            </div>

                            <div class="profile_item">
                                <div class="profile_input">{{ profile_form.Publish|add_class:"form-control" }}</div>
                                <div class="profile_label">{{ profile_form.Publish.label|title }}</div>
                            </div>                            
                            
                            <div class="profile_item">
                                {% if profile_form.errors %}
                                <span style="color:red">{{ profile_form.errors }}</span>
                                {% endif %}
                            </div>

                            <div class="profile_item">
                                <button class="btn btn-success" type="submit">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        {% else %}
        <div class="text-center">
            <h2>{{ profile.CompanyName }}</h2>
            <p>{{ profile.slogan }}</p>
            <!--<img src="{{ profile.avatar }}" class="img-circle" height="90" width="90">-->
            <div class="panel panel-default profile_inside"></div>
        </div>
        {% endif %}
    </div>

    <div class="row profile_gigs">
            <h3 class="text-uppercase">Brands And Products</h3>

            {% include 'search_tabs.html' with brands=brands products=products title=title   %}

            <!--
            {% for gig in gigs %}
            <div class="col-md-3 pro-1">
                <div class="col-m">
                    <a href="{% url 'gig_detail' gig.id %}" data-toggle="modal" data-target="#myModal17" class="offer-img">
                        <img src="/media/{{ gig.BrandPicture1 }}" class="img-responsive" alt="">
                    </a>
                    <div class="mid-1">
                        <div class="women">
                            <h6><a href="{% url 'gig_detail' gig.id %}">{{gig.title|truncatechars:78}}</a></h6>
                        </div>
                        <div class="mid-2">
                            <p class="gig_details">{{gig.description|safe|truncatechars:193}}</p>
                                
                            <p class="gig_details where_to_buy">{{gig.BrandWhereToBuy|commaSplit|safe}}</p>
                            <div class="clearfix"></div>
                        </div>                    
                    </div>
                </div>
            </div>
        {% endfor %}
        -->
    </div>
        
    {% if request.user == profile.user %}
    <script>

    $(function () {
        $("#id_avatar").change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
            $("#avatar_preview").attr("src", e.target.result);
            }
            reader.readAsDataURL(this.files[0]);
        }
        });
        $("#id_CompanyLogo").change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
            $("#CompanyLogo_preview").attr("src", e.target.result);
            }
            reader.readAsDataURL(this.files[0]);
        }
        });
    });
            
    </script>
    {% endif %}
    
</div>
{% endblock %}