{% extends 'base.html' %}
{% load staticfiles %}
{% load formfilter %}

{% block title %} - Search Results - {{ title }} {% endblock %}


{% block includes %}
    {% include 'search_box.html' %}
    <!-- {% include 'main_nav.html' %} -->
{% endblock %}


{% block page %}


 <div class="container">

     <div class="row no-gutter">
        <div class="spec">
            <h3>Search Results</h3>
            <div class="ser-t"><b></b><span><i></i></span><b class="line"></b></div>            
        </div>
        
        <div class="col-md-12">
            <div class="result_counts">
                <h4>Brands found: <span>{{ brands.paginator.count }}</span><h4>
                <h4>Products found: <span>{{ products.paginator.count }}</span><h4>
            </div>
            <div class="clearfix"></div>
            <h4 class="search_term">Searched for: <span>{{title|safe|truncatechars:50}}</span></h4>
            
            {% include 'search_tabs.html' with brands=brands products=products title=title %}
            
        </div>       

        <div class="clearfix"></div>
    </div>
 </div>

{% endblock %}