{% load staticfiles %}
{% load formfilter %}

{% for gig in results %}                
<div class="col-md-3">
    <div class="search_result_item {% if gig.brand %}search_result_item_prod{% endif %}">
        {% if gig.brand %}
            <button class="prod_button" disabled>PRODUCT</button>
        {% else %}
            <button class="brand_button" disabled>BRAND</button>
        {% endif %}
        <div class="clearfix"></div>
        {% if gig.brand %}
            <!-- 
            <a href="{% url 'product_detail' gig.id %}" data-toggle="modal" data-target="#myModal17" class="offer-img">
                <img src="/media/{{ gig.image1 }}" class="img-responsive" alt="">
            </a>-->
            <div class="mid-1">                
                <h6><a href="{% url 'product_detail' gig.id %}">{{gig.title|striptags|truncatechars:78}}</a></h6>                
        
        {% else %}
            <!--<a href="{% url 'gig_detail' gig.id %}" data-toggle="modal" data-target="#myModal17" class="offer-img">
                <img src="/media/{{ gig.BrandPicture1 }}" class="img-responsive" alt="">
            </a>-->
            <div class="mid-1">
                <h6><a href="{% url 'gig_detail' gig.id %}">{{gig.title|striptags|truncatechars:78}}</a></h6>
                
        {% endif %}
            <div class="mid-2">
                <p class="gig_details">{{gig.description|safe|striptags|truncatechars:193}}</p>
                
                <h5>Where To Buy</h5>
                {% if gig.brand %}
                    <p class="where_to_buy">{{gig.brand.BrandWhereToBuy|commaSplit|safe}}</p>
                {% else %}
                    <p class="where_to_buy">{{gig.BrandWhereToBuy|commaSplit|safe}}</p>
                {% endif %}
                <div class="clearfix"></div>
            </div>

            {% if gig.brand %}
            <div class="mid-3">
                <h5 class="product_brand_search_link">Brand</h5>
                <!-- <a href="{% url 'gig_detail' gig.brand.id %}"><img src="/media/{{ gig.brand.BrandPicture1 }}" class="img-responsive product_brand_search_link" alt="" height="50px" width="50px"></a> -->
                <p class="product_brand_search_link"><a href="{% url 'gig_detail' gig.brand.id %}">{{gig.brand.title|striptags|truncatechars:78}}</a></p>
                <div class="clearfix"></div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

{% if results.has_next %}
    {% if results.0.brand %}
        <button class="show_more_button_product" onclick="loadMore(event, 'product', '{{ title }}')">Show More</button>
    {% else %}
        <button class="show_more_button" onclick="loadMore(event, 'brand', '{{ title }}')">Show More</button>        
    {% endif %}
{% endif %}