{% load staticfiles %}
<div data-vide-bg="{% static 'video/video' %}">
    <div class="container wide_container">
        <div class="banner-info">

            <div class="slideshow">
                <div class="inner_slideshow">

                    <div class="search_box_text">
                        <p>THIS IS AN INFORMATION-ONLY SITE INTENDED TO INFORM THE PUBLIC OF PRODUCTS THAT ARE MADE OR ASSEMBLED IN THE USA, 
                            AS WELL AS WHERE AND/OR HOW THESE ITEMS MAY BE PURCHASED.</p>
                        <p>We are a donation-only help site supporting our U.S. manufacturers, workers, economy, and country by listing over 
                            384,200 actual U.S. based manufacturers and 1.2 billion products, as well as where these retail, wholesale, 
                            manufacturer to manufacture, and everyday items may be purchased. Through our TV commercials, social media, 
                            and your help, we will put as much accurate information out as possible, so that the public can make a choice to buy U.S. made products or not.</p>
                    </div>

                    <div class="search-form">
                        <form action="/search" method="get">
                            <div class="flexbox">
                                <div class="stretch">
                                    <input type="text" placeholder="Search..." name="title">
                                </div>
                                <div class="normal">
                                    <input type="submit" value=" ">
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="search_box_text">
                        <p>If you type in an item and no item comes up, unfortunately, that product is either currently not manufactured or assembled in the U.S. 
                            or the manufacturer has not listed their products with us yet. If any information on this site is inaccurate, 
                            PLEASE email us so we can verify and correct our information. If you are a manufacturer, big or small, 
                            that produces products in the U.S. or sells products and you are not listed on this site, <a href="/signup">please register here.</a></p>
                    </div>
            

            <div class="main_buttons">
                <p>
                    <a href="/coming_soon/" class="main_button">BLOG</a>
                    <a href="/videos/" class="main_button">TV/MEDIA</a>
                    <a href="/coming_soon/" class="main_button">NEWS</a>                    
                </p>
                <p>
                    <!--<a href="javascript:void(0)" class="main_button" onclick="toggleGoals()">GOALS</a>-->
                    <a href="/contribute" class="main_button donate_btn">Contribute</a>
                </p>

                <div id="main_goal_id" class="main_goals" style="display:none;">
                    <h2>OUR GOAL</h2>
                    <p>Our goal is to provide the largest, most accurate database of U.S. products and food items, accessible by the public, 
                        as well as where and how these items may be purchased. By typing in your specific requests item in the product search box above, 
                        the company’s name(s), website, brand(s), and where/how your item can be purchased will be listed.</p>
                    
                    <p><b>Products</b>:  Currently, the Federal Trade Commission (FTC) does not require any manufacturers foreign or domestic to 
                        label the country of origin on any product except for automobiles, textiles, wool, and fur products.</p>
                    
                    <p><b>Food</b>:  Canned goods, packaged and processed foods will be listed the same as products. 
                        Produce will be listed under Name and Origin. The Food and Drug Administration (FDA) requirements on the importation 
                        of our food products is up for interpretation (please see our FDA blog).</p>
                </div>
            </div>
        </div>

                <script type="text/javascript">
                    function toggleGoals() {
                        var x = document.getElementById("main_goal_id");
                        if (x.style.display === "none") {
                            x.style.display = "block";
                        } else {
                            x.style.display = "none";
                        }
                    }
                </script>

            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    $( document ).ready(function() {
        var images=new Array('/static/img/search_banners/search_banner1.png','/static/img/search_banners/search_banner2.png','/static/img/search_banners/search_banner3.png',
        '/static/img/search_banners/search_banner4.png','/static/img/search_banners/search_banner5.png','/static/img/search_banners/search_banner6.png',
        '/static/img/search_banners/search_banner7.png','/static/img/search_banners/search_banner8.png','/static/img/search_banners/search_banner9.png',
        '/static/img/search_banners/search_banner10.png',);
        var nextimage=0;
        var imageUrl = images[0];

        doSlidey();

        function doSlidey()
        {
            var imageUrl = images[nextimage];
            console.log("slideshowFadeIn: " + imageUrl);
            slideIn();

            function slideIn()
            {
                var html = '<style id="slideshow_id">.slideshow:before{background-image: url("' + imageUrl + '") !important;}</style>';
                $(html).appendTo("head");
                nextimage++;
                if(nextimage>=images.length)
                    nextimage=0;
                    $('.slideshow:before').hide();
                setTimeout(doSlidey,10000);
            }
        }       
    });

</script>