{% extends 'base.html' %}
{% load staticfiles %}
{% load formfilter %}

{% block title %} - Search Results - {{ title }} {% endblock %}


{% block includes %}
    {% include 'search_box.html' %}
    <!-- {% include 'main_nav.html' %} -->
{% endblock %}


{% block page %}

<script type="text/javascript">

    var brand_page = 1;
    var product_page = 1;

    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    function loadMore(evt, obj_type, title) {
        var page_to_get = 1
        if(obj_type == "brand"){
            brand_page += 1;
            page_to_get = brand_page;
        }
        else{
            product_page += 1;
            page_to_get = product_page;
        }

        $.ajax({
            url: '{% url "search_show_more" %}?obj_type=' + obj_type + '&title=' + title + '&page=' + page_to_get,
            dataType: 'json',
            success: function (data) {
                if (data.is_taken) {
                    alert(data.error_message);
                }
                console.log(data);
                

                var brand_html = '<div class="col-md-3"> ' +
                    '<div class="search_result_item"> ' +
                        ' <button class="brand_button" disabled>BRAND</button> ' +
                        '<div class="clearfix"></div> ' +
                        '<a href="{% url \'gig_detail\' gig.id %}" data-toggle="modal" data-target="#myModal17" class="offer-img"> ' +
                            '<img src="/media/{{ gig.BrandPicture1 }}" class="img-responsive" alt=""> </a>' +                        
                        '<div class="mid-1">' +
                            '<div class="women"> ' +
                                '<h6><a href="{% url \'gig_detail\' gig.id %}">{{gig.title|truncatechars:78}}</a></h6> ' +
                            '</div> ' +
                            '<div class="mid-2"> ' +
                                '<p class="gig_details">{{gig.description|safe|truncatechars:193}}</p> ' +
                                '<p class="gig_details where_to_buy">{{gig.BrandWhereToBuy|commaSplit|safe}}</p> ' +
                                '<div class="clearfix"></div> ' +
                            '</div> ' +
                        '</div> ' +
                    '</div> ' +
                '</div> ';
            }
        });
    }

</script>

 <div class="container">

     <div class="row no-gutter">
        <div class="spec">
            <h3>Search Results</h3>
            <div class="ser-t"><b></b><span><i></i></span><b class="line"></b></div>            
        </div>
        
        <div class="col-md-12">
            <div class="result_counts">
                <h4>Brands found: <span>{{ brands_count }}</span><h4>
                <h4>Products found: <span>{{ products_count }}</span><h4>
            </div>
            <div class="clearfix"></div>
            <h4 class="search_term">Searched for: <span>{{title|safe|truncatechars:50}}</span></h4>

            <div class="tab">
                <button class="tablinks active" onclick="openCity(event, 'Brands')">Brands</button>
                <button class="tablinks" onclick="openCity(event, 'Products')">Products</button>            
            </div>
        
            <div id="Brands" class="tabcontent">
                <button class="show_more_button" onclick="loadMore(event, 'brand', '{{ title }}')">Show More</button>
            {% for gig in brands %}
            
            <div class="col-md-3">
                <div class="search_result_item">
                    <button class="brand_button" disabled>BRAND</button>
                    <div class="clearfix"></div>
                    <a href="{% url 'gig_detail' gig.id %}" data-toggle="modal" data-target="#myModal17" class="offer-img">
                        <img src="/media/{{ gig.BrandPicture1 }}" class="img-responsive" alt="">
                    </a>
                    <div class="mid-1">
                        <div class="women">
                            <h6><a href="{% url 'gig_detail' gig.id %}">{{gig.title|truncatechars:78}}</a></h6>
                        </div>
                        <div class="mid-2">
                            <p class="gig_details">{{gig.description|safe|truncatechars:193}}</p>                                
                            <p class="gig_details where_to_buy">{{gig.BrandWhereToBuy|commaSplit|safe}}</p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
            </div>  
            
            
            <div id="Products" class="tabcontent">
                {% for gig in products %}
                <div class="col-md-3">
                    <div class="search_result_item">
                        <button class="prod_button" disabled>PRODUCT</button>
                        <div class="clearfix"></div>
                        <a href="{% url 'product_detail' gig.id %}" data-toggle="modal" data-target="#myModal17" class="offer-img">
                            <img src="/media/{{ gig.image1 }}" class="img-responsive" alt="">
                        </a>
                        <div class="mid-1">
                            <div class="women">
                                <h6><a href="{% url 'product_detail' gig.id %}">{{gig.title|truncatechars:78}}</a></h6>
                            </div>
                            <div class="mid-2">
                                <p class="gig_details">{{gig.description|safe|truncatechars:193}}</p>
                                    
                                <p class="gig_details where_to_buy">{{gig.brand.BrandWhereToBuy|commaSplit|safe}}</p>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>                    
                </div>
                {% endfor %}
                
            </div>
            
        </div>       

        <div class="clearfix"></div>
    </div>
 </div>

{% endblock %}