{% extends 'base.html' %}

{% block title %} - Signup{% endblock %}

{% block page %}
<div class="container">
  <div class="row auth_form signup_form">
    <h2>Sign up</h2>
    <form method="post" enctype='multipart/form-data' >
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <small style="color: grey">{{ field.help_text | safe }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <p class="signup_p"></p><input type="checkbox" name="donate"/>Would you like to support our efforts to promote American businesses?</p>
      <button type="submit">Sign up</button>
    </form>
  </div>
</div>
{% endblock %}
